* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #d3d6da;
  --medium-gray: #878a8c;
  --dark-gray: #787c7e;
  --yellow: #c9b458;
  --green: #6aaa64;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

section {
  width: 30rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
}

header div {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

header h1 {
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}

header button {
  color: var(--medium-gray);
  font-size: 1.3rem;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.keyboard {
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  width: 2.5rem;
  height: 3.5rem;
  font-size: 0.88rem;
  font-weight: 600;
  border-radius: 0.2em;
}

.keyboard:first-child {
  margin-left: 1em;
}

.keyboard:nth-child(11) {
  margin-left: 2em;
}

.keyboard:nth-child(20),
.keyboard:nth-child(28) {
  width: auto;
  padding: 0 0.2em;
}

.game-container {
  margin: 0.5em 0;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  width: 3.6rem;
  height: 3.6rem;
  margin: 0.2em;
  border: 2px solid var(--light-gray);
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.green {
  background-color: var(--green);
  color: #fff;
  border: none;
}

.square.yellow {
  background-color: var(--yellow);
  color: #fff;
  border: none;
}

.square.grey {
  background-color: var(--medium-gray);
  color: #fff;
  border: none;
}

/* instructions */
.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.close-button {
  font-size: 2rem;
  color: var(--dark-gray);
}

.instruction-container {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.instruction-container.open {
  display: block;
}

.instruction-container h3 {
  text-align: center;
  margin-bottom: 1em;
}

.instruction {
  font-size: 0.9rem;
}

.instruction p {
  margin: 0.5em 0;
}

.example-boxes {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  margin: 1em 0;
}

.example-boxes h4 {
  margin: 0.5em 0;
}

.example-box-container {
  display: flex;
}

.example-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  border: 2px solid var(--medium-gray);
  font-size: 2.1rem;
  font-weight: 800;
  margin: 0.3em 0.1em 0.3em 0;
}

.example-box.green {
  background-color: var(--green);
  color: #fff;
  border: none;
}

.example-box.yellow {
  background-color: var(--yellow);
  color: #fff;
  border: none;
}

.example-box.grey {
  background-color: var(--medium-gray);
  color: #fff;
  border: none;
}
